* {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}




body {
  background-color: rgb(228, 235, 254);
  height: 100vh;
}





header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

header > div.h-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 15px;
}

header > .h-left > p {
  color: #288ea7;
  text-align: center;
}

header > .h-right > * {
  margin: 0px 5px;
}

header > .h-right > input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

header > .h-right > button {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #288ea7;
  color: #288ea7;
  background-color: rgb(255, 255, 255, 0);
}






div.body-container {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
}

div.body-container > div {
  /* background-color: wheat; */
  margin: 25px;
  width: 30vw;
  overflow: hidden;
}

.todo-header {  
  background-color: #ededed;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px 5px 0 0;
}

.doing-header {  
  background-color: #ededed;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px 5px 0 0;
}

.done-header {  
  background-color: #ededed;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px 5px 0 0;
}

.todo-data {  
  background-color: #ffffff;
  padding: 20px 10px;
  border: solid 1px black;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.doing-data {  
  background-color: #ffffff;
  padding: 20px 10px;
  border: solid 1px black;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.done-data {  
  background-color: #ffffff;
  padding: 20px 10px;
  border: solid 1px black;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.date {
  padding: 15px 0px;
  font-weight: lighter;
}

.editButton {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 0px 10px;
}

.deleteButton {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 0px 10px;
}

.toDoButton {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 0px 10px;
}

.doingButton {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 0px 10px;
}

.doneButton {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 0px 10px;
}






.form-add {
  display: flex;
  justify-content: center;
}

.form-add-box {
  /* border: 1px solid black; */
  border-radius: 8px;
  /* background-color: white; */
  width: 80vh;
  height: 40vh;
  margin: 15px;
  padding: 15px;
}

.form-add-box-header {
  background-color: #ededed;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px 5px 0 0;
}

.form-add-box-data {  
  background-color: #ffffff;
  padding: 20px 10px;
  border: solid 1px black;
  border-top: none;
  border-radius: 0 0 5px 5px; 
}

.form-add-box-data > form > div {  
  padding: 0px 10px;
  margin: 0px 10px;
}

.form-add-box-data > form > div > p {  
  padding: 10px 0px;
  margin: 10px 0px;
}

.addPost, .backToHome {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  margin: 0px 10px;
}

.button2button {
  display: flex;
  justify-content: space-between;
}

.dateBox {
  margin: 0px 0px 30px;
}